@font-face {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Basic Page Styling */
html, body {
  font-family: "Inconsolata";
  height: 100%;
  color: #666;
  background: #ffd1dc;
}

h1 {
  color: #ffd1dc;
  font-size: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Overriding Bootstrap Button Styles */
.btn-outline-primary {
  color: #49c5ff;
  font-weight: 600;
  border-color: #49c5ff;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
  background: #49c5ff;
  border-color: #49c5ff;
}

/* Header Styling */
.header {
  background: url(https://i.imgur.com/QktDEm6.jpg) no-repeat center center fixed;
  color: #fff;
}

.header .social {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 60px;
}

.header .social a {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
}
.header .action {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Sticky Navbar */
.sticky.is-sticky {
  background: #49c5ff;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Section Styling */
.section {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  margin-bottom: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.name, .occup, .descrip {
  width: 100%;
  height: auto;
  background-color: rgba(210,180,140,.8);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

a.scrollto.nav-link {
  font-size: 1.5em;
  font-weight: bolder;
  background-color: rgba(210,180,140,.8);
  border-radius: 6px;
}

a.btn {
  width: 100%;
  height: auto;
  background-color: rgba(210,180,140,.8);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.card-text {
  text-align: center;
  padding-top: 13px;
}

#section-1 {
  background: url(https://i.imgur.com/Thbizwr.jpg) no-repeat center center fixed;
  color: #808080;
}

#section-2 {
  background: url(https://i.imgur.com/z44YgRX.jpg) no-repeat center center fixed;
  color: black;
}

.cardOne {
  width: 100%;
  height: auto;
  border: 2px solid #49c5ff;
  border-radius: 6px;
}

.cardTwo {
  width: 55%;
  height: 135px;
  display: block;
  margin: 0 auto;
  border: 2px solid #49c5ff;
  border-radius: 6px;
}

.cardThree {
  width: 55%;
  height: 135px;
  display: block;
  margin: 0 auto;
  border: 2px solid #49c5ff;
  border-radius: 6px;
}


.card-title {
  text-align: center;
}
/* Timeline Styling */
.timeline {
  border-left: 3px solid #49c5ff;
  border-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 220px;
}
.timeline .item {
  position: relative;
  margin-bottom: 45px;
}
.timeline .item:last-child {
  margin-bottom: 0;
}
.timeline .item:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #49c5ff;
}
.timeline .item:after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #49c5ff;
  z-index: 10;
}

.mb-4.ex {
  text-align: center;
}

.mb-4.who {
  width: 19%;
  height: auto;
  background-color: rgba(169,169,169,.6);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
}

.mb-4.pro {
  text-align: center;
}

.mb-4.con {
  text-align: center;
}

.item.col-12.col-md-6 {
  width: 80%;
  height: auto;
  background-color: rgba(169,169,169,.85);
  padding: 15px 5px 10px 15px;
  border-radius: 6px;
}

.timeline .job-title {
  position: absolute;
  left: -250px;
  top: 0;
}
